#friends-display-link{
    display: block;
    text-align: center;
    background-color: #fafafa;
    padding: 16px 0px;
    font-size: 18px;
    margin-bottom: 8px;
}

/* 이렇게도 아이콘의 색깔을 바꿀 수 있다 (text라고 생각해도 됨)
#friends-diplay-link i{
    color: rgba(0, 0, 0, 0.3);
}
*/

.friends-screen{
    padding: 0px var(--horizontal-space);
}

.friends-screen__channel{
    margin-top: 18px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 16px;
}

.friends-screen__channel-header{
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.3);
}

/* 밑에는 그냥 내가 추가한 코드 */
.friends-screen__channel-header > span {
    color: rgba(0, 0, 0, 0.4);
}