.badge{
    background-color: tomato;
    width: 20px; height: 20px;
    border-radius: 10px; /* width의 50% */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    font-size: 12px;
}