.nav{
    bottom: 0;
    width: 100%;
    background-color: #f9f9fa;
    /* 니코쌤 코드
    padding: 20px 50px;
    box-sizing: border-box;
    */
    border-top: 1px solid rgba(121, 121, 121, 0.3);
    position: fixed;
}

.nav__list{
    display: flex;
    justify-content: space-between;
    margin: 0px 48px;
}

.nav__btn{
    padding: 20px 0px;
}

.nav__link{
    color: #2e363e;
    position: relative;
}

.nav__notification{
    position: absolute;
    left: 15px;
    bottom: 10px;
}

.nav__notification2{
    background-color: tomato;
    width: 5px; height: 5px;
    border-radius: 2.5px; /* width의 50% */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 22px;
    bottom: 16px;
}